@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Noto+Serif+Display:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

.container {
  /* max-width: 90%; */
  /* padding: 0 15rem; */
  font-family: "Montserrat", sans-serif;
}

.partOne {
  margin: auto;
}
.partOne h1 {
  color: #f4722b;
  letter-spacing: 1pt;
}
.textOne {
  width: 90%;
  margin: 0 4rem;
}
.img {
  width: 100%;
  height: auto;
  text-align: center;
}
.partTwo {
  position: relative;
  padding-top: 10rem;
  /* max-width: 1920px;
  max-height: 885px;
  width: auto;
  height: auto; */
}

.textTwo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  z-index: 20;
}
